<div class="container">
  <h1>About Us</h1>

  <p> We create an online web platform, GradeUs, designed to facilitate peer feedback sessions in a classroom setting. The platform offers a number of features geared towards streamlining the feedback process, which is traditionally a logistically overwhelming task that is typically done manually or via tedious forms. </p>

  <p> One key feature of the website is the ability for instructors to create courses and form groups for each course. Students can then sign up using a course code or an invite link from the platform. This allows for easy management of multiple courses and groups, and ensures that only registered students are able to access the feedback system.</p>

  <p> Another important feature of the platform is the ability for instructors to publish activities from their end which the students can then respond to. These activities can include a variety of different types of questions, such as scoring the contributions of other group members, writing feedback for them, reflecting on everyone's contribution, and more. This allows for a flexible feedback process that can be tailored to the needs of each individual course. </p>

  <p> The platform also offers the ability to generate a score based on rubrics defined by the instructor. This score can be used as a grading component for the course, saving instructors a significant amount of time and effort in the grading process. </p>

  <p> In addition to these key features, the platform also offers a number of other benefits. For instance, the feedback system allows for flexible feedback paths between teams, from instructors to students, and from each student to other students. Powerful visibility control limits who can see the response text, the identity of the feedback giver, and the identity of the feedback receiver. The platform also offers the ability to generate exhaustive reports and statistics, allowing instructors to track student progress over time. </p>

  <p> Finally, the platform offers a wide range of question types, including essay questions, MCQ questions, multiple select questions, numeric scale questions, and questions measuring contribution in team projects. This ensures that the feedback system is flexible enough to accommodate a wide range of different types of courses and assignments, making it a valuable tool for instructors across a range of different disciplines. </p>


</div>
